jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==1.2.21
jupyterlab-server==0.2.0
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.4
munch==2.3.2
nbconvert==5.4.0
nbformat==4.4.0
notebook==6.1.5
numpy==1.15.2
pandas==0.23.4
pandoc==1.0.2

